
body{
    padding: 0;
    margin: 0;
    font-family: 'PT Serif', serif;
}
.header{
    min-height: 90vh;
    width: 100%;
    background-image: url("images/new\ header.png");
    background-position: center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;

}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: row;
   
    
}
nav .bx{
    display: none;
}

nav h4 a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;

}
nav h4 a:hover{
    color: yellow;
}

.nav-links ul li{
    text-decoration: none;
    list-style: none;

}
.nav-links ul li a{
    font-size: 25px;
    color: white;
    font-weight: 600;

}
.nav-links ul li a:hover{
    color: yellow;
}
.text-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%,-50%);
   width: 80%;
    padding: 20px;
    border-radius:20px ;
}
.text-box label{
    color: lightgoldenrodyellow;
    font-size:25px ;
    font-weight: 500;
}
.text-box input{
    padding: 5px;
    margin-left: 10px;
    font-size: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 30%;
    font-weight: 500;
    color: black;

}
@media screen and (min-width: 842px)and(max-width: 1115px) {
    .navbar{
        width :10px;
    }
    
    
}
/* @media screen and (min-width:701px)and( max-width: 842px) {
    .navbar{
        width :5%;
    }
    
} */
@media screen and (max-width :842px){
    .navbar{
        width: 50%;
    }
    
    .nav-links{
        position: absolute;
        background: lightslategrey;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: center;
        z-index: 2;
        transition: 1s;

    }
    .nav-links ul{
        padding: 30px;
        justify-content: center;    
    }
    nav .bx{
        display: block;
        color: white;
    }
    .nav-links ul li {
        text-align: center ;
    }
    .nav-links ul li a{
        font-size: 20px;
    }

    
    .cat-dis .food-course .photo{
        width: 30%;
        height: 50%;
     }
     .cat-dis .food-course .photo img{
        width: 100%;
        height: 100%;
        border-radius: 10% ;
    }
}
/* -----------Features---------------------------- */
.features{
    margin-top: 20px;
    text-align: center;
    
}
.features h3{
    font-size: 40px;
    color: lightslategrey;
}
.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-basis: 33.3%;

}
.detail-card{
    width: 350px;
   height: 300px;
   text-align: center;
   padding: 2% 0.5%;
}
.detail-card img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 10%;
    
}
.detail-card h3{
    font-size: 20px;
}
.detail-card img:hover{
    box-shadow: 5px 10px #888888;

    transform: translateY(-10px);
}
@media screen and (max-width:700px) {
    .cards{
        flex-direction: column;
    }
    .detail-card{
        margin-bottom: 10px;
    }
    .cat-dis .food-course{
        flex-direction: column;
    }
    #maincourse{
        flex-direction: column-reverse;
    }
    .cat-dis .food-course{
        flex-direction: column;
    }
    #maincourse{
        flex-direction: column-reverse;
    }
    .cat-dis .food-course .photo{
        width: 30%;
        height: 50%;
     }

     .cat-dis .food-course .photo img{
        width: 100%;
        height: 100%;
        border-radius: 10% ;
    } 
    

    
    
}

/* ---------category------------------------ */
.catagory{
    margin-top: 20px;
    text-align: center;
}
.catagory h3{
    font-size: 40px;
    color: lightslategrey;
}
.cat-dis{
    display: block;
}
.cat-dis .food-course{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 5% 2%;
}

.cat-dis .food-course .photo{
   width: 30%;
   height: 50%;
}
.cat-dis .food-course .photo img{
    width: 100%;
    height: 100%;
    border-radius: 10% ;
}
.cat-dis .food-course .food-dis{
    padding: 7% 2%;
    
}

/* ----------contact us------------------------------ */
.contact-us{
    width: 100%;
    height: 500px;
    background: url("images/contact.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}
/*---------------------------------------------------------- Optional pannel--------- */
.box{
    /* border: 1px solid black; */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    min-width: none;
    min-height: 10vh;
   
}
#opt_img{
    width: 100%;
    opacity: 1.5;
}
.box h2{
    font-size: 80px;
    color: white;
}
.optional-pannel{
    padding: 20px;

    
}
.btn_opt{
    width: 100%;
    font-size:20px ;
    border-radius: 10px;
    transition: 0.5ms;
}
.btn_opt:hover{
    background-color: bisque;
}


